/wrapper/output
/search/requireSearch_key.py
/search/search_key.py
/wrapper/input/splitvar/numbergenerator.py
**/terraform*
**/.terraform/*
/wrapper/templates/*/node_modules
**/node_modules
**/azure_func.zip
**/search.py